@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://themes.googleusercontent.com/licensed/font?kit=YoZbkqXulGCRoHGs9xLFpAN7AFxfM6yDbfNZa3e8wgU) format('woff');
}
