#! /usr/bin/python
#  Name: Sravan Bhamidipati
#  Date: 19th October, 2012
#  Purpose: Initial session key, Twitter consumer key and secret.


from uuid import uuid4
SESSION_KEY = uuid4()

# https://dev.twitter.com/apps
TWITTER_CONSUMER_KEY = 'oauth consumer key'
TWITTER_CONSUMER_SECRET = 'oauth consumer secret'

# Only for internal testing
TWITTER_OAUTH_TOKEN = 'oauth token'
TWITTER_OAUTH_TOKEN_SECRET = 'oauth token secret'